always-auth=true

# Optional default registry
registry=https://registry.npmjs.org/

# Comment out or keep if you have private packages on npmjs:
# //registry.npmjs.org/:_authToken=${NPM_TOKEN}

# For Saas UI Pro packages
@saas-ui-pro:registry=https://npm.saas-ui.dev
//npm.saas-ui.dev/:_auth="Yml0aGlnaGxhbmRlcjpFNDMwREMzMy1ERDE1LTRDNDAtODg0NC0xMTkyNkQ4ODI1NUM="
//npm.saas-ui.dev/:always-auth=true

# For other Saas UI packages
@saas-ui:registry=https://npm.saas-ui.dev

@dnd-kit:registry=https://registry.npmjs.org/
